<div class="min-h-screen flex items-center justify-center bg-base-200 px-4">
    <div class="card shadow-xl bg-white p-8 max-w-md w-full text-center space-y-6">
    <img src="logo.png" alt="Logo" class="mx-auto w-48 h-48 object-contain" />
    <h1 class="text-3xl font-bold text-blue-500">¡Gracias por tu donación!</h1>
      <p class="text-gray-600 text-lg">Tu apoyo significa mucho para nosotros. </p>
    <div class="flex justify-center">
        <a routerLink="/login" class="btn btn-primary btn-wide">Volver al inicio</a>
    </div>
    </div>
  </div>
  